.return-button button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background: linear-gradient(to bottom right, rgb(117, 23, 23), rgb(49, 45, 45));
    border-radius: 5px;
    color: wheat;
    border: 2px outset gray;
}